# Miscellaneous & OS
*.class
*.log
*.pyc
*.swp
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Flutter / Dart / Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/
lib/generated_plugin_registrant.dart

# Symbolication & Obfuscation related
app.*.symbols
app.*.map.json

# Android related
/android/.gradle/
/android/local.properties
/android/key.properties
/android/app/debug
/android/app/profile
/android/app/release
*.keystore
*.jks

# iOS / macOS related
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flr
**/ios/Runner.gitignore
**/ios/Runner.xcodeproj/project.xcworkspace
**/ios/Runner.xcworkspace
**/Pods/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code
.vscode/

# Environment / Sensitive keys
*.env
*.env.*
lib/firebase_options.dart
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
